.propaganda {
    width: 90%;
    background-color: #fefbda;
    display: flex;
    padding: 0 5%;
    height: 70vh;

    .magazine {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 1.4rem;
            text-align: center;
        }

        img {
            width: 100%;
        }
    }

    .comment {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 1.4rem;
            padding-bottom: 0.8rem;
            text-align: center;
        }

        img {
            width: 65%;
        }
    }
}

.publicity {
    width: 100%;
    height: 40vh;

    .boardImg {
        width: 100%;
        height: 38vh;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

/* ======================================= */
@media screen and (max-width: 1024px) {
    .propaganda {
        height: 40%;

        .magazine {
            h3 {
                font-size: 1.5rem;
                padding-bottom: 2rem;
            }
        }
    }
    .publicity {
        height: 30%;

        .boardImg {
            height: 25%;
        }
    }
}

@media screen and (max-width: 768px) {
    .propaganda {
        height: 40%;

        .magazine {
            h3 {
                font-size: 1.5rem;
            }
        }
    }

    .publicity {
        height: 30%;

        img {
            height: 67%;
        }
    }
}

@media screen and (max-width: 480px) {
    .propaganda {
        flex-direction: column;
        height: 48%;
        background-color: #fefbda;

        .magazine {
            width: 100%;
            margin-top: 12%;
            background-color: #fefbda;

            h3 {
                font-size: 1rem;
                font-weight: bold;
            }
        }

        .comment {
            display: none;

            img {
                width: 85%;
            }
        }
    }

    .publicity {
        height: 24%;

        .boardImg {
            height: 35%;

            img {
                height: 50%;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .propaganda {
        height: 48%;
        background-color: #fefbda;

        .magazine {
            margin-top: 15%;
            background-color: #fefbda;
        }
    }

    .boardImg {
        height: 30%;
    }
}
